/*Manipulating margin and padding to fill the whole screen*/
body {
    background-color: blue; 
    margin: 0;
    padding: 0;
}

/*Creating a game screen as a block figure.*/
#game-screen {
    display: block;
}

/*Hide the menu and make it abosoulte to fit in the whole screen */
#gameOver,#playHUD {
    position: absolute;
    visibility: hidden;
}

#startScreen {
    position: absolute;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
}

.title {
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton,#easy,#hard {
    border: 2px solid white;
    border-radius: 10px;
}

#restartButton:hover,#easy:hover,#hard:hover {
    background-color: #009900;
}

#scoreboard {
    margin: 0px;
}